html {
    --color-background: rgb(30,31,36);
    --color-background-gradient: linear-gradient(121deg, rgba(30,31,36,1) 0%, rgba(15,16,18,1) 100%);
    --color-background-fade: linear-gradient(121deg, rgb(42, 43, 49) 0%, rgb(32, 33, 36) 100%);
    --color-background-loading: rgb(30,31,36);
    --color-main: rgb(19,242,151);
    --color-main-gradient: linear-gradient(121deg, rgba(19,242,151,1) 0%, rgba(11,171,106,1) 100%);
    --color-main-fade: #75FFBA;
    --color-secondary: #E6FF4B;
    --color-text: white;
    --color-text-fade: #ffffff57;
    --color-text-2: #0E0007;
    --color-red: #c60025;
    --color-gray: #1b1c20;
    --color-green: #1ea24b;
    --font-logo: "Outfit", sans-serif;
    --font-main: "Poppins", sans-serif;
}

body {
    background: var(--color-background-gradient);
    color: var(--color-text);
    font-family: var(--font-main);
    padding: 0;
    margin: 0;
}

svg {
    width: 24px;
    height: 24px;
}

i {
    display: flex;
    margin-left: 5px;
}

a {
    display: contents;
    color: unset;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-2);
    background: var(--color-main-fade);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2em;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
}

.top-button:hover {
    filter: brightness(0.5);
}

.hidden {
    display: none!important;
}
.floating-error, .floating-message {
    position: fixed;
    top: 200px;
    background: var(--color-red);
    width: calc(90% - 20px);
    left: 5%;
    padding: 10px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px #000000a1;
    transition: 0.5s;
}
.floating-message {
    background: var(--color-gray);
}
.floating-error-hidden, .floating-message-hidden {
    opacity: 0;
    transform: translateY(100vh);
}
.floating-error-button {
    margin: auto;
    width: max-content;
    margin-top: 10px;
    background: #000000ab;
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.2s;
}
.floating-message-button {
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.2s;
}
.floating-error-button:hover, .floating-message-button:hover {
    filter: brightness(0.5);
}
.floating-error-title {
    font-size: 125%;
    font-weight: 500;
}
.floating-message-title {
    font-size: 115%;
    font-weight: 500;
    margin-bottom: 5px;
}
.floating-message-subtitle {
    margin-bottom: 10px;
}
.floating-message-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button-leave {
    background: var(--color-red);
}
.button-join {
    background: var(--color-green);
}
.no-pointer {
    pointer-events: none;
}
@media screen and (min-width: 900px) {
    .main, .top {
        width: calc(100% - 100px);
        max-width: 1200px;
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
}