html.dark {
    --color-background: rgb(30,31,36);
    --color-background-gradient: linear-gradient(121deg, rgba(30,31,36,1) 0%, rgba(15,16,18,1) 100%);
    --color-background-fade: linear-gradient(121deg, rgb(42, 43, 49) 0%, rgb(32, 33, 36) 100%);
    --color-background-loading: rgb(30,31,36);
    --color-main: rgb(19,242,151);
    --color-main-gradient: linear-gradient(121deg, rgba(19,242,151,1) 0%, rgba(11,171,106,1) 100%);
    --color-main-fade: #75FFBA;
    --color-secondary: #E6FF4B;
    --color-text: white;
    --color-text-fade: #ffffff57;
    --color-text-2: #0E0007;
    --color-red: #c60025;
    --color-gray: #1b1c20;
    --color-green: #1ea24b;
    --font-logo: "Outfit", sans-serif;
    --font-main: "Poppins", sans-serif;
}

html.metal {
    --color-background: rgb(255, 255, 255);
    --color-background-gradient: linear-gradient(121deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 100%);
    --color-background-fade: linear-gradient(121deg, rgb(220, 220, 220) 0%, rgb(178, 177, 177) 100%);
    --color-background-loading: rgb(220, 220, 220);
    --color-main: rgb(178, 177, 177);
    --color-main-gradient: linear-gradient(121deg, rgba(19,242,151,1) 0%, rgba(11,171,106,1) 100%);
    --color-main-fade: rgb(178, 177, 177);
    --color-secondary: #E6FF4B;
    --color-text: rgb(0, 0, 0);
    --color-text-fade: #ffffff57;
    --color-text-2: #0E0007;
    --color-red: #c60025;
    --color-gray: #1b1c20;
    --color-green: #1ea24b;
    --font-logo: "Outfit", sans-serif;
    --font-main: "Poppins", sans-serif;
}

html.sahara {
    --color-background: rgb(255, 242, 212);
    --color-background-gradient: linear-gradient(121deg, rgb(255, 242, 212) 0%, rgb(225, 200, 146) 100%);
    --color-background-fade: linear-gradient(121deg, rgb(253, 227, 166) 0%, rgb(225, 190, 114) 100%);
    --color-background-loading: rgb(230, 188, 96);
    --color-main: rgb(255, 209, 112);
    --color-main-gradient: linear-gradient(121deg, rgb(255, 218, 141) 0%, rgb(236, 184, 70) 100%);
    --color-main-fade: rgb(247, 215, 149);
    --color-secondary: #E6FF4B;
    --color-text: rgb(0, 0, 0);
    --color-text-fade: #ffffff57;
    --color-text-2: #0E0007;
    --color-red: #c60025;
    --color-gray: #1b1c20;
    --color-green: #1ea24b;
    --font-logo: "Outfit", sans-serif;
    --font-main: "Poppins", sans-serif;
}

html.aqua {
    --color-background: rgb(14, 19, 34);
    --color-background-gradient: linear-gradient(121deg, rgb(14, 19, 34) 0%, rgb(5, 12, 49) 100%);
    --color-background-fade: linear-gradient(121deg, rgb(29, 40, 85) 0%, rgb(16, 19, 38) 100%);
    --color-background-loading: rgb(14, 19, 34);
    --color-main: rgb(56, 57, 159);
    --color-main-gradient: linear-gradient(121deg, rgb(66, 92, 170) 0%, rgb(25, 42, 128) 100%);
    --color-main-fade: rgb(48, 63, 108);
    --color-secondary: #E6FF4B;
    --color-text: rgb(255, 255, 255);
    --color-text-fade: #ffffff57;
    --color-text-2: #ffffff;
    --color-red: #c60025;
    --color-gray: #1b1c20;
    --color-green: #1ea24b;
    --font-logo: "Outfit", sans-serif;
    --font-main: "Poppins", sans-serif;
}

body {
    background: var(--color-background-gradient);
    color: var(--color-text);
    font-family: var(--font-main);
    padding: 0;
    margin: 0;
}

svg {
    width: 24px;
    height: 24px;
}

i {
    display: flex;
    margin-left: 5px;
}

a {
    display: contents;
    color: unset;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.top-button, .top-button-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-2);
    background: var(--color-main-fade);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2em;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
}


.top-button:hover, .top-button-logout:hover {
    filter: brightness(0.5);
}

.hidden {
    display: none!important;
}
.floating-error, .floating-message {
    position: fixed;
    top: 200px;
    background: var(--color-red);
    width: calc(90% - 20px);
    left: 5%;
    padding: 10px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px #000000a1;
    transition: 0.5s;
    z-index: 5;
}
.floating-message {
    background: var(--color-gray);
}
.floating-error-hidden, .floating-message-hidden {
    opacity: 0;
    transform: translateY(100vh);
}
.floating-error-button {
    margin: auto;
    width: max-content;
    margin-top: 10px;
    background: #000000ab;
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.2s;
}
.floating-message-button {
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.2s;
}
.floating-error-button:hover, .floating-message-button:hover {
    filter: brightness(0.5);
}
.floating-error-title {
    font-size: 125%;
    font-weight: 500;
}
.floating-message-title {
    font-size: 115%;
    font-weight: 500;
    margin-bottom: 5px;
}
.floating-message-subtitle {
    margin-bottom: 10px;
}
.floating-message-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button-leave {
    background: var(--color-red);
}
.button-join {
    background: var(--color-green);
}
.no-pointer {
    pointer-events: none;
}
.spacer {
    height: 600px;
}
@media screen and (min-width: 900px) {
    .main, .top {
        width: calc(100% - 100px);
        max-width: 1200px;
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
    .floating-error, .floating-message {
        width: 450px;
        left: calc(50vw - 225px);
    }
}