.top-button i {
    margin: 0;
    margin-right: 5px;
}


.settings {
    margin: auto;
    max-width: 600px;
}
.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: var(--color-background-fade);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
}
.setting-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: var(--color-background-fade);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
}
.setting-dark:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(121deg, rgb(42, 43, 49) 0%, rgb(32, 33, 36) 100%);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
    color: white;
}
.setting-moon {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: var(--color-background-fade);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
}
.setting-moon:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(121deg, rgb(220, 220, 220) 0%, rgb(178, 177, 177) 100%);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
    color: black;
}
.setting-sahara {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: var(--color-background-fade);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
}
.setting-sahara:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(121deg, rgb(255, 218, 141) 0%, rgb(236, 184, 70) 100%);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
    color: black;
}
.setting-aqua {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: var(--color-background-fade);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
}
.setting-aqua:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(121deg, rgb(66, 92, 170) 0%, rgb(25, 42, 128) 100%);
    padding: 10px;
    border-radius: 1em;
    margin-bottom: 10px;
    color: black;
}
.setting-title {
    font-size: 110%;
    font-weight: 500;
}
.setting-subtitle {
    font-size: 90%;
}
.setting-right {
    display: flex;
    margin-left: 20px;
}
.setting-right input {
    width: 20px;
    height: 20px;
}